*{
    margin: 20;
    padding: 20;
}
.table1{
    margin: auto;
    border-collapse: collapse;
    background-color:rgb(198, 220, 222);
    text-align: center;
}
.col1{
    padding: 5px 10px;
    border: 1px solid rgb(32, 30, 33);
}
h3{
    margin-top: 10px;
    padding: 5px;
    font-size: 30px;
    font-family:serif;
    text-align: center;
}
h2{

    padding: 2px;
    font-size: 10px;
    font-family:serif;
    text-align: center;
}
.btn{
    padding: 2px;
    background-color:rgb(245, 81, 83);
    border: 2px solid black;
}
.btn1{
    padding: 2px;
    background-color:rgb(81, 245, 122);
    border: 2px solid black;
}
.add{
    text-align: center;
    padding: 2px;
}
.add input{
    margin: 5px;
}